<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="map">
      <ion-icon name="map-outline"></ion-icon>
      <ion-label>Mapa</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="my-trips">
      <ion-icon name="airplane-outline"></ion-icon>
      <ion-label>Viagens</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="finances">
      <ion-icon name="wallet-outline"></ion-icon>
      <ion-label>Finanças</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="profile">
      <ion-icon name="person-outline"></ion-icon>
      <ion-label>Perfil</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
