.input-formulario {
  // Cor da letra
  color: #0d2347 !important; 
  font-weight: 500;

  // Cor placeholder
  --placeholder-color: #738294;
  --placeholder-opacity: 0.8;
  --placeholder-font-weight: normal;
}

// Cor ícone no foco
ion-item {
  ion-icon {
    color: #1e73be; // Azul padrão
  }
}